*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.idea

pids
logs
results
.DS_Store
npm-debug.log
.env

site/public/libs
site/node_modules
lib/node_modules
cli/node_modules
api/**/node_modules
node_modules

