/.github
/.editorconfig
/.prettierignore
/CODE_OF_CONDUCT.md
/commitlint.config.js
/CONTRIBUTING.md
/docker-compose.yml
/Dockerfile
/prettier.config.js
/RELEASE_PROCESS.md
/scripts/pkg
/scripts/test
/test
/VERSIONING.md
!/lib/plugins/create/templates/**/.gitignore
