/.nyc_output
/coverage
/test/fixtures/cli/configSyntaxError/serverless.yml
/test/unit/lib/configuration/variables/sources/fixture/invalid.json
/test/unit/lib/configuration/variables/sources/fixture/invalid.yml
!/test/fixtures/programmatic/locallyInstalledServerless/node_modules/**
