/.nyc_output
/coverage
/test/fixtures/configSyntaxError/serverless.yml
/test/unit/lib/configuration/variables/sources/fixture/invalid.json
/test/unit/lib/configuration/variables/sources/fixture/invalid.yml
