<div id="menu-page">
    <p id="menu-bar" class="st-font">
        <a data-ui-sref="servants">
            Servants
        </a>
        <a class="active">
            Menu
        </a>
        <a href="/logout">
            Logout
        </a>
    </p>
    <div class="page-container st-animate-zoom-in">
        <p class="st-centered">
            <img class="servant-image st-animate-bounce-in" data-ng-src="https://d2d0226i04jal.cloudfront.net/images/servants/{{ s.servants[s.servant_index].personality.toLowerCase() }}.svg">
        </p>
        <p class="st-centered st-font st-red">{{s.servants[s.servant_index].master}} </p>
        <hr style="margin: 10px auto 20px auto;width:75%">
        <ul id="options-menu" class="list-unstyled">
            <li class="st-font st-link" data-ui-sref="">
                <i class="fa fa-flash" style="margin-right:4px;"></i> Do Something
            </li>
        </ul>
    </div>
</div>