[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    background: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 460px;
    margin: 0px auto;
    padding: 0px 10px 40px 10px;
}
p {
    line-height: 18px;
}
ul {
    list-style: none;
    padding: 0px;
}
hr {
    border-top: rgba(0, 0, 0, 0.1);
}
/* Home Page */

#home-page {
    padding-top: 50px;
}
#home-page #logo {
    font-size: 30px;
}
#home-page .tagline {
    color: #555555;
    font-size: 12px;
    letter-spacing: -0.5px;
    padding-top: 10px;
}
#connect-container {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
#features-list {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    font-size: 12px;
}
#features-list td {
    border-top: none!important;
}
#features-list .icon {
    vertical-align: middle;
    opacity: 0.3;
    padding-right: 10px;
}
/* Loading Container */

#loading-container {
    padding-top: 50px;
}
#loading-container p {
    font-size: 18px;
}
#loading-container i {
    opacity: 0.3;
    margin-right: 8px;
}
/* Help Area */

.help-area {
    padding: 0px 10%;
}
.help-area td {
    border: none!important;
    font-size: 10px;
}
.help-area td i {
    opacity: 0.5;
}
/* Dashboard */

#dashboard-header {
    display: block;
    width: 100%;
    height: 65px;
}
#dashboard-header #logo {
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: -1px;
    margin: 0px;
}
#dashboard-header #logo img {
    max-width: 225px;
    max-height: 100px;
}
#menu-bar {
    margin: 5px 0px;
    text-align: center;
}
#menu-bar a, #menu-bar a:visited {
    margin-left: 5px;
    color: #999;
    text-decoration: none;
}
#menu-bar a:hover {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
}
#menu-bar .active {
    color: #666666!important;
}
.page-container {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    background: #fff;
    padding: 30px 15px 40px 15px;
    margin: 0px auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15);
    overflow: none!important
}
.help-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px
}
.help-icon:hover {
    cursor: pointer
}
/* Servants Page */

#servants-list {
    margin: 0px auto;
    width: 100%;
    max-width: 200px;
    text-align: center;
    font-size: 13px;
}
#servants-page .servant-image {
    max-height: 40px;
    max-width: 40px;
    margin-right: 6px;
}
/* Menu Page */

#menu-page .servant-image {
    max-height: 70px;
    max-width: 70px;
}
#menu-page #options-menu li {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
/* Blast Page */

#blast-page .servant-image {
    max-height: 70px;
    max-width: 70px;
}
#tiny-text-container {
    padding: 20px;
    height: 300px;
    background: rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: scroll!important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.tiny-text {
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 15px 0px;
    font-size: 14px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*    border-top: 1px solid rgba(0,0,0,0.15);
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);*/
}
.tiny-text p {
    text-align: center;
    padding: 10px 20px;
}
.tiny-text .tiny-text-options {
    text-align: center;
}
.tiny-text-preview {
    text-align: center;
    padding: 20px 20px;
    width: 80%;
    margin: 25px auto;
    font-size: 14px;
    border: 1px dashed #f5aaa6;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
/* Plan Page */

#plan-page .servant-image {
    max-height: 70px;
    max-width: 70px;
}
#plan-page .plan-select {
    max-width: 275px;
    font-size: 14px!important;
    margin: 0px auto;
}

/* Modals */

#modal-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background: rgba(0, 0, 0, 0.8);
}
#modal-box {
    width: 100%;
    background: #ececec;
    z-index: 9001;
    max-width: 600px;
    min-height: 400px;
    margin: 40px auto;
    padding: 40px 10px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.modal-view {
    width: 100%;
    height: 100%;
}
/* Dashboard */

.tip {
    width: 90%;
    padding: 15px;
    background: rgba(255, 255, 255, 1);
}
.tip .tip-title {
    font-size: 14px;
    margin-bottom: 6px;
}

/* Subscription */

#subscription-page {
    width: 100%;
    font-size: 13px;
}
#subscription-information {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    padding: 10px;
}
.page-title {
    margin-top: 20px;
}
.plan-select-container {
    margin: 20px auto 10px auto;
}
.plan-select-container .form-control {
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    height: 40px;
    font-weight: normal;
}
.plan-features {
    width: 300px;
    margin: 10px auto;
    text-align: left;
}
.plan-features li {
    text-align: left;
    padding: 5px 0px 0px 10px;
    font-size: 10px;
}
.plan-features i {
    color: rgba(0, 0, 0, 0.2);
}
.subscription-options {
    margin: 20px auto;
}
.subscription-options hr {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: 50%;
    margin: 30px auto 20px auto;
}
#payment-form {
    max-width: 250px;
    margin: 20px auto;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #bbb!important;
}
#payment-form .label {
    color: #555;
    text-align: center;
}