<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title><%= name %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>" )>
    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" data-environment="<%= environment %>">

        <div class="row">
          <div class="offset-by-four four columns centered">
            <img src="img/jaws_logo_javascript_aws.png" class="logo">
          </div>
        </div>

        <form>
          <div class="row">
              <div class="centered offset-by-four four columns">
                  <label for="exampleEmailInput">Email</label>
                  <input class="centered u-full-width" type="email" placeholder="Your Email" id="email">
              </div>
          </div>
          <div class="row">
            <div class="centered offset-by-four four columns">
                <label for="exampleEmailInput">Password</label>
                <input class="centered u-full-width" type="password" placeholder="Your Password" id="password">
            </div>
          </div>
          <div class="row">
            <div class="centered offset-by-four four columns">
                <input class="button-primary" type="submit" value="Submit">
            </div>
          </div>
        </form>
    </div>
    <!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Google Analytics –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] = function() {
            (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', '<%= google_analytics_code %>', 'auto');
    ga('send', 'pageview');
    </script>

</body>

</html>