/* Custom Styles*/

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
ul,
label,
input,
span,
a {
    font-family: 'Lato', sans-serif;
}

label {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.35);
}
/* Colors */

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #f0db4e;
    background-color: #000;
    border-color: #000;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #fff5b1;
    background-color: #000;
    border-color: #000;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #999;
    outline: 0;
}
/* Utilities */

.centered {
    text-align: center;
}
/* Other */

.logo {
    margin: 50px 0px 25px 0px;
    max-width: 100%;
}
/* End