# this is not the file that will be created with the template
# this is to ignore file used when testing the template
package-lock.json
node_modules

## offline testing
local.settings.json

## deploy testing
.serverless/
